@model TestApp.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personas</title>
</head>
<body>
    <div>
     <h3>Listado de Personas</h3>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Direccion
            </th>
            <th>
                Soltero
            </th>
        </tr>
    </table>
    </div>
</body>
</html>
