@model List<TestApp.Models.Persona>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personas</title>
</head>
<body>
    <div>
     <h3>Listado de Personas</h3>
     <table>
         <thead>
         Id
         </thead>
         <thead>
             Nombre
         </thead>
         <thead>
             Direccion
         </thead>
         <thead>
             Soltero
         </thead>
         <tbody>
             <tr>
                 @foreach (var persona in Model)
                 {
                     <td>
                         @persona.IdPersona
                     </td>
                     <td>
                         @persona.Nombre
                     </td>
                     <td>
                         @persona.Direccion
                     </td>
                     <td>
                         @(persona.EsSoltero ? "Si" : "No")
                     </td>
                 }
             </tr>
         </tbody>
     </table>
    </div>
</body>
</html>
